a {
    text-decoration: none;
    color: black;
}

.icon-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.icon-link {
    text-decoration: none;
    color: inherit;
}

.icon-link {
    text-decoration: none;
    color: inherit;
}
.menu{

    margin-bottom: 1px;
    padding: 7px 2px;
    text-decoration: none;
}