<th:block th:fragment="listMenu">
    <div class="d-flex " style="width: 170px">
        <div class="container border-end ">
            <!--            menu-->
            <h4>menu</h4>
            <div class="row">
                <!--                select menu-->
                <a class="menu" href="/dashboard/order-list">
                    <i class="fas fa-cart-plus fa-sm" style="color: #2970fd;font-size: 70%"> Order List</i>
                </a>
                <a class="menu" href="/dashboard/product-list">
                    <i class="fas fa-list fa-sm" style="color: #2970fd;font-size: 70%"> Products List</i>
                </a>
            </div>
        </div>
    </div>
</th:block>